body {
  background-color:aliceblue; 
}



.container {
  text-align: center;
}

.cell {
  border: 2px solid #000;
  width: 100px;
  height: 100px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
}

#winnerAlert {
  margin-top: 20px;
  font-size: 1.5em;
}

.side-image {
  position: fixed;
  width: 200px; 
  height: auto;
  bottom: 20px; 
}

.left {
  left: 20px; 
}

.right {
  right: 20px; 
}