.cell {
    width: 100px;
    height: 100px;
    font-size: 48px;
    text-align: center;
    cursor: pointer;
  }
  .cell {
    width: 100px;
    height: 100px;
    font-size: 48px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black; 
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row {
    overflow: hidden;
  }
  
  .col {
    float: left;
    width: calc(100% / 3);
  }
  
  .row:first-child .cell {
    border-top: none; 
  }
  
  .col:last-child .cell {
    border-right: none; 
  }
  